$fa-font-path : "./webfonts";
@import '/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}